.CategoryItem {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	max-width: 30rem;

	&-ImagenContainer {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		transform: scale(0.5);
		opacity: 0;
		transition: all 1s ease;
	}

	&-Imagen {
		width: 70%;
		object-fit: cover;
		height: auto;
		clip-path: circle();
	}

	&-Info {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		padding: 1.5rem;
		width: 100%;
		height: 100%;
		align-items: center;
		justify-content: center;
	}

	&-Title {
		width: 100%;
		font-size: 1.5em;
		text-overflow: ellipsis;
		overflow: hidden;
		opacity: 0;
		transform: translateX(-100%);
		transition: transform 1s ease;
	}

	&-Subtitle {
		width: 100%;
		font-style: 1.2em;
		color: #808080;
		opacity: 0;
		transform: translateX(100%);
		transition: transform 1s ease;
	}

	&-Price {
		font-weight: 300;
		color: #fac564;
		font-family: 'Poppins', sans-serif;
		font-weight: 300;
		font-style: normal;
		text-overflow: ellipsis;
		overflow: hidden;
		opacity: 0;
		transform: translateX(-100%);
		transition: transform 1s ease;
	}

	&-OrderButton {
		padding: 0.5rem 1rem;
		background-color: transparent;
		color: white;
		border: 1px solid white;
		width: min-content;
		opacity: 0;
		transform: translateX(100%);
		transition: all 0.2s ease, transform 1s ease;

		&:hover {
			background-color: #fac564;
			color: black;
			border: 1px solid transparent;
			cursor: pointer;
		}
	}
}
.isVisible {
	transform: translate(0 0);
	opacity: 1;
}
.imageIsVisible {
	transform: scale(1);
	opacity: 1;
}
