.Footer {
	min-height: 30rem;
	width: 100%;
	display: flex;
	padding: 15rem 2rem 5rem;
	gap: 3rem;
	margin-top: auto;
	flex-direction: row;
	flex-wrap: wrap;
	@media screen and (min-width: 60rem) {
		justify-content: center;
	}
	&-Section {
		width: 100%;
		@media screen and (min-width: 60rem) {
			max-width: 15rem;
		}
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
	&-SectionTitle {
		font-size: 1.5em;
		text-transform: uppercase;
	}
	&-SectionDescription {
		font-size: 1em;
		color: #808080;
	}
	&-SectionSocialMediaContainer {
		display: flex;
		gap: 1rem;
	}
	&-SocialMedia {
		background-color: #333;
		color: white;
		font-size: 2em;
		border-radius: 50%;
		width: 48px;
		height: 48px;
		text-align: center;
		line-height: 48px;
		border: transparent;
	}

	&-SectionCard {
		flex-direction: row;
	}

	&-SectionLink {
		color: #808080;
		text-decoration: none;
	}
	&-SectionCopy {
		text-align: center;
		color: #808080;
	}
}
