.MenuCard {
	width: 100%;
	width: 45%;
	width: 30rem;
	height: 15rem;
	display: flex;

	@media screen and (max-width: 60rem) {
		&:nth-child(even) &-Container {
			flex-direction: row-reverse;
		}
		width: 100%;
	}
	&-Container {
		display: flex;
		width: 100%;

		opacity: 0;
		transform: translateY(100%);
		transition: all 1s ease;
	}
	&-ImagenContainer {
		width: 50%;
		height: 100%;
	}

	&-Imagen {
		width: 100%;
		object-fit: cover;
		height: 100%;
	}

	&-Info {
		display: flex;
		flex-direction: column;
		padding: 1.5rem;
		width: 50%;
		height: 100%;
		background-color: rgb(0, 0, 0, 0.3);
		justify-content: space-between;
		overflow: hidden;
	}

	&-Title {
		font-size: 1.5em;
		text-overflow: ellipsis;
		overflow: hidden;
		text-wrap: nowrap;
	}

	&-Subtitle {
		font-style: 1.2em;
		color: #808080;
		overflow: hidden;
	}

	&-SubContainer {
		display: flex;
		align-items: center;
		gap: 16px;
	}

	&-Price {
		font-weight: 300;
		color: #fac564;
		font-family: 'Poppins', sans-serif;
		font-weight: 300;
		font-style: normal;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	&-OrderButton {
		padding: 1rem;
		background-color: transparent;
		color: white;
		border: 1px solid white;
		transition: all 0.2s ease;

		&:hover {
			cursor: pointer;
			border: 1px solid transparent;
			color: #fac564;
			color: black;
			background-color: #fac564;
			transform: translate(-2px);
		}
		@media screen and (max-width: 60rem) {
			padding: 0.5rem;
		}
	}
}
.isVisible {
	transform: translateY(0);
	opacity: 1;
}
