.Welcome {
	color: #f8f8f8;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
  gap: 1rem;
	@media screen and (min-width: 60rem) {
		flex-direction: row;
	}
	&-Img {
		width: 100%;
		height: 20rem;
		background-image: url('/assets/welcome.jpg');
		background-attachment: fixed;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		overflow: hidden; /* Para ocultar el desbordamiento del fondo */
		@media screen and (min-width: 60rem) {
      min-height: 30rem;
			width: 50%;

		}
	}
	&-Info {
		display: flex;
		flex-direction: column;
    gap: 2rem;
    text-align: center;
    padding: 3rem 1rem;
    @media screen and (min-width: 60rem) {
      text-align: start;
			width: 50%;
		}
	}
	&-Title {
		font-size: 2.5em;
		line-height: 1.2;
		transform: translateY(100%);
		opacity: 0;
		transition: all 1s ease;
	}

	&-Logo {
		color: #fac564;
		font-family: 'Nothing You Could Do', cursive;
		font-size: 1.1em;
		display: inline-block;
		margin: 0 0.3rem;
	}
	&-Lore {
		color: #808080;
		transform: translateY(50%);
		opacity: 0;
		transition: all 2s ease;
    line-height: 1.8;
		font-size: 1.1rem;
		max-width: 40rem;
		letter-spacing: 0.02em;
	}
}

.isVisible {
	transform: translateY(0);
	opacity: 1;
}
