.Info-Displayer {
    display: flex;
    color: white;
    
    &-Logo {
width: 3rem;
        
    }

    &-DisplayerDescription {
        display: flex;
        flex-direction: column;
    }

    &-DisplayerTitle {}

    &-DisplayerSubtitle {}
}