.Menu {
    display: flex;
    gap: 2rem;
    text-align: center;
    
    flex-direction: column;

    &-Title {
        font-size: 1.7em;
        padding: 0 1rem;

    }

    &-Description {
        padding: 0 1rem;

        font-size: .9em;
        color: #808080;
    }
}